<h1>制作物</h1>

<table border="1">
  <tr>
    <th>name</th>
    <th>registered image</th>
    <th>description</th>
    <th>comments</th>
    <th>add comment</th>
  </tr>
  <% @works.each do |work| %>
  <tr>
    <td><%= work.name %></td>
    <td><% if work.image.attached? %><%= image_tag(work.image, :height => 100) %><% end %></td>
    <td><%= work.description %></td>
    <td>
      <% if work.comments.present? %>
        <% work.comments.each do |comment| %>
          <%= comment.message %><br>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= form_with url: "/works/add_comment"  do |form| %>
        <%= form.text_field :message %><br>
        <input type="hidden" name="work_id" value=<%= work.id %>>
        <%= form.submit %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
