<h1>Posts#manage</h1>
<p>Find me in app/views/posts/manage.html.erb</p>

<h3>New</h3>                                                                                                                                                                            
<%= form_with url: "/posts/new"  do |form| %>                                                                                                                                           
  <%= form.text_field :title %><br>                                                                                                                                                     
  <%= form.text_area(:body, :size => "400x100" , :class => 'ckeditor')  %><br>                                                                                                          
  <%= form.submit %>                                                                                                                                                                    
<% end %>

<h3>Posts</h3>
<table border="1">
  <tr>
    <th>title</th>
    <th>body</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post['title'] %></td>
      <td><%= post['body'].html_safe %></td>
      <td>
        <%= form_with url: "/posts/delete"  do |form| %>
          <input type="hidden" name="post_id" value=<%= post.id %>>
          <%= form.submit value: 'delete' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
